body {
  background-image: url('http://i374.photobucket.com/albums/oo181/tymcclure13/brushed_zpsgfhtbnma.png');   
  margin: auto;   
}

.content {
  width: 65%;
  margin: auto;
  background-color: #c2c2c2;
  padding-top: 1rem;
  padding-bottom: 1rem
}

@media only screen and (max-width:1500px) {
  .content {
      width: 100%
    }
  }

.main-image img { 
  display: block;
  height: auto;
  width: 65%; 
  margin: 0 auto ; 
}

@media only screen and (max-width:1500px) {
  .main-image img {
      width: 100%;
    }
  }

@media only screen and (max-width: 500px) {
        .name {
            font-size: 3em;
    }
}
.name {
  text-align: center;
  font-family: "Kunstler Script", Arial, Helvetica, sans-serif;
  font-size:6.5em;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: 5rem;
}

h1 {
  font-size: 3rem;
  margin-left: 4.5rem;
  
}
.right-header {
  margin-left: 4rem;
}

p {
  font-size: 1.5rem;
  width: 75%; 
  text-align: justify;
}

.left-text {
  margin: auto;
}

.right-text {
  margin: auto;
}

.pull-right {
  float: right;
  width: 50%;
  max-height: 400px;
  }

@media only screen and (min-width: 100px) and (max-width:1500px) {
  .pull-right {
      margin-bottom: 4rem;
      padding-bottom: 3rem;
    }
  }


.pull-left {
  float: left;
  width: 50%;
}

.soccer-image {
  display: block;
  max-width: 200px;
  max-height: 200px; 
  margin: 12rem auto;
}

@media only screen and (max-width:500px) {
  .soccer-image {
     max-width: 100px;
     max-height: 100px;
      }
  }

.where-image {
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
  padding-top: 10rem
}

@media only screen and (max-width: 500px) {
  .where-image {
      max-width: 150px;
      height: auto;
    }
  }

.more {
  text-align: center;
  margin: 3rem auto;
}

.links {
  font-size: 1.2rem;
  margin-top: 10rem;
  text-align: center;
}

.links > li {
  display: inline-block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
  height: 7rem;
}

@media only screen and (max-width:1100px) {
  .clearfix:after {
      height: 2rem;
    }
  }

.more-text {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 3rem;
}
h3 {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
h4{
  font-size: 1.5rem;
}
l {
  display: inline-block;
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
}